

html,
body {


  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* Button with brand colour as bg */
.btn-brand1 {                     
  background-color: #4E4747; 
  color: #fff;
  border-radius: 6px;
  padding: 0.5rem 1rem; 
  transition: background-color 0.2s ease-in-out;
}

.btn-brand1:hover {
  background-color: black; 
  color: #ffffff;
}

/* Transparent Buttons */
.btn-brand2 {
  background-color: transparent; 
  color: #fff;
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 0.5rem 1rem; 
  transition: all 0.2s ease-in-out;
}

.btn-brand2:hover {
  background-color: #ffffff;  
  color: #4E4747;           
  border-color: #ffffff;
}

.btn-brand3 {
  background-color: transparent; 
  color: #000000;
  border: 1px solid#4E4747;
  border-radius: 6px;
  padding: 0.5rem 1rem; 
  transition: all 0.2s ease-in-out;
}

.btn-brand3:hover {
  background-color: #4E4747;  
  color: #ffffff;           
  border-color: #000000;
}

.btn-brand3.active {
  background-color: #4E4747;
  color: #fff;
}

.btn-brand4 {
  background-color: transparent; 
  color: #000000;
  border: 1px solid#4E4747;
  border-radius: 6px;
  padding: 0.5rem 1rem; 
  transition: all 0.2s ease-in-out;
}

.btn-brand4:hover {
  background-color: #000000;  
  color: #ffffff;           
}

.bg-brand1 {
  background-color: #4E4747;
}

.brand-link {
  color: var(--brand-color, #4E4747) !important;
}

.brand-link:hover {
  text-decoration: underline;
  color: var(--brand-color-dark, #000000) !important;
}

 /* navbars */
.navbar-nav .nav-link {
  color: #ffffff !important; 
  transition: color 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #d3d3d3 !important; 
}

/* Footer */
.footer-link {
  color: #000000;
  text-decoration: none; 
  transition: color 0.2s ease-in-out;
}

.footer-link:hover {
  color:#4E4747; 
  text-decoration: underline;
}